<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bm.test">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:name=".StartApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="我的工程"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--  启动页  -->
        <activity android:name=".activity.start.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  主  页  -->
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"/>
        <!--  导引页  -->
        <activity android:name=".activity.start.GuideActivity" />
        <!--  忘记密码  -->
        <activity android:name=".activity.login.ForgetActivity" />
        <!--  登录页  -->
        <activity android:name=".activity.login.LoginActivity" />
    </application>

</manifest>